.wrapper {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 23px;
}

.title {
    text-align: center;
}

.label {
    display: block;
    padding: 15px 20px;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 15px;
    outline: none;
    transition: all 300ms ease-out;
}

.label:hover,
.label:focus {
    border-color: #8DC9F1;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    padding: 14px;
    width: 100%;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: #8DC9F1;
    border: 1px solid #8DC9F1;
    border-radius: 12px;
    transition: all 300ms ease-out;
    cursor: pointer;
    margin-top: 25px;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #8DC9F1;
    color: #8DC9F1;
}


.input_title {
    font-size: 16px;
}

.input_title:not(:first-child) {
    margin-top: 25px;
}

.input_error {
    margin-top: 10px;
    font-size: 18px;
    color: #ef4040;
}

.text {
    text-align: center;
}

.link {
    color: #8DC9F1;
}