.contact_card {
  display: flex;
  max-width: 750px;
  align-items: center;
  gap: 20px;
  padding: 28px 24px;
  background-color: #ffffff;
  border: 1px solid #8DC9F1;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 23px;
}

.contact_context {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_text {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.icons {
  width: 18px;
  height: 18px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 14px;
  width: 100%;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #8DC9F1;
  border: 1px solid #ffffff;
  border-radius: 12px;
  transition: all 300ms ease-out;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #8DC9F1;
  color: #8DC9F1;
}