.nav {
    display: flex;
        gap: 30px;
}

.link {
    display: inline-block;
        text-decoration: none;
        padding: 12px;
        font-weight: 500;
        font-size: 20px;
}

.link:hover {
    color: #EAFFAC;
}