.wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

.username {
    font-size: 20px;
    color: #021865;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    font-size: 20px;
    transition: all 300ms ease-out;
    background-color: #8DC9F1;
    border: 1px solid #8DC9F1;
    border-radius: 12px;
    transition: all 300ms ease-out;
    cursor: pointer;
}

.btn:hover {
    color: #8DC9F1;
    background-color: transparent;
}